<%- include('../header.html') %>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Qaản lý sản phẩm
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <br>

                            <form action="" method="POST" class="form-inline" role="form">

                                <div class="form-group">
                                    <label class="sr-only" for="">label</label>
                                    <input type="email" class="form-control" id="" placeholder="Input field">
                                </div>



                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                <a href="/admin/product/create" class="btn btn-success"><i class="fa fa-plus"></i> Thêm
                                    mới</a>
                            </form>
                            <hr>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                        <th>Image</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(function(prod) { %>
                                        <tr>
                                            <td>
                                                <%= prod.id %>
                                            </td>
                                            <td>
                                                <%= prod.name %>
                                            </td>
                                            <td>
                                                <%= prod.cat_name %>
                                            </td>
                                            <td>
                                                <%= prod.status==0 ? 'Tạm ẩn' : 'Hiển thị' %>
                                            </td>
                                            <td>
                                                <%= prod.created_at %>
                                            </td>
                                            <td>
                                                <img src="../../../uploads/<%= prod.image %>" width="60">
                                            </td>
                                            <td class="pull-right">
                                                <a href="/admin/product/edit/<%=prod.id%>"
                                                    class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                                <a href="/admin/product/delete/<%=prod.id%>"
                                                    class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer form-inline">
                            
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <% for(let i = 1; i <= numPage; i++) {%>
                                <li class="<%= page == i ? 'active' : '' %>"><a href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a></li>
                                <% } %>
                            </ul>

                            <select class="form-control" onchange="location.assign('?limit='+this.value)">
                                <option value="">SHow</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                            </select>
                            
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../footer.html') %>